freedoom_badass_edition.pk3
freedoom-badass-edition.pk3
*.bak
*.backup1
*.backup2
*.backup3
*.autosave1
*.autosave2
*.autosave3
*.autosave4
*.autosave5
*.dbs
# Unused
freedoom_badass_mappack.wad
freedoom_badass_edition (wadinfo).wad
freedoom_badass_edition (mappack_wadinfo).wad
freedoom_badass_edition (wadinfo)
freedoom_badass_edition (mappack_wadinfo)
freedoom_badass_edition.wad
Build