*.pk3
*.bak
*.backup?
*.backup??
*.autosave?
*.autosave??
*.dbs
*.lmp_bak
*-export.png
# Unused
freedoom_badass_mappack.wad
freedoom_badass_edition (wadinfo).wad
freedoom_badass_edition (mappack_wadinfo).wad
freedoom_badass_edition (wadinfo)
freedoom_badass_edition (mappack_wadinfo)
freedoom_badass_edition.wad
Build
